@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
}