.section_main {
  &.active {
    .main_title {
      animation: fadeInDown 1s 0.5s cubic-bezier(0.76, 0.57, 0.2, 0.97) both;
    }
    .subtitle {
      animation: fadeInUp 1s 1.5s both;
    }
  }
}
.section_world_view {
  &.active {
    .world_slide_thumbs {
      .swiper-slide-thumb-active {
        .world_subtitle {
          animation: fadeInLeft 1s 0.25s both;
        }
        .world_title {
          animation: fadeInLeft 1s 0.5s both;
        }
        .world_desc {
          .text {
            animation: fadeInUp 1.2s var(--delay) both;
          }
        }
      }
    }
  }
}

.section_story {
  &.active {
    .story_title,
    .story_sub_title {
      animation: fadeIn 1s var(--delay) forwards;
    }
    .story_slide {
      .swiper-slide {
        animation: fadeInUp 1s var(--delay) forwards;
      }
    }
    .img_effect{
      animation: zoomOut 4.5s .5s ease forwards;
    }
    .section_banner{
      &::after{
        animation: fadeOut 4s .5s ease forwards;
      }
    }
    .map_deco{
      .cloud{
        opacity: 1;
        &:nth-child(1),&:nth-child(4),&:nth-child(5){
          animation: cloudOutDown 4s .5s forwards;
        }
        &:nth-child(2),&:nth-child(3),&:nth-child(6){
          animation: cloudOutLeft 4s .5s forwards;
        }
        &:nth-child(7),&:nth-child(8){
          animation: cloudOut 4s .5s forwards;
        }
        &:nth-child(9),&:nth-child(10){
          animation: cloudOutRight 4s .5s forwards;
        }
      }
    }
  }
}
.section_combat{
  &.active{
    .combat_slide_thumbs{
      .swiper-slide{
        animation: fadeInUp 1s var(--delay) backwards;
      }
    }
    .combat_slide_banner{
      .swiper-slide-thumb-active{
        .img{
          transform: scale(1);
        }
      }
    }
  }
}
.combat_slide_banner{
  .swiper-slide-active{
    .img{
      transform: scale(1);
    }
  }
}
.section_media{
  &.active{
    .media_title,.media_subtitle{
      animation: fadeInUp 1s var(--delay) both;
    }
  }
}
.section_house{
  &.active{
    .house_slide_thumbs{
      .swiper-slide-active{
       .house_subtitle{
        animation: fadeInLeft 1s 0.25s both;
       } 
       .house_title{
        animation: fadeInLeft 1s 0.5s both;
       }
       .btn_story{
        animation: fadeInLeft 1s 0.75s both;
       }
      }
    }
    .house_slide_banner{
      .swiper-slide-active{
        .img_character{
          animation: fadeInRight 1s 1s cubic-bezier(0.5, 0.48, 0.16, 0.96) both;
        }
      }
    }
  }
}
.section_intro{
  &.active{
    .intro_title{
      animation: fadeInOut 6s 2s ease forwards;
    }
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOut {
  0% {
    opacity: .5;
    transform: scale3d(2, 2, 2);
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes cloudOutRight {
  100% {
    opacity: 0;
    transform: translateX(25%);
  }
}

@keyframes cloudOutLeft {
  100% {
    opacity: 0;
    transform: translateX(-25%);
  }
}

@keyframes cloudOutDown {
  100% {
    opacity: 0;
    transform: translateY(25%);
  }
}

@keyframes cloudOut {
  100% {
    opacity: 0;
  }
}
@keyframes scaleIn {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  10% {
    transform: scaleX(1) scaleY(0);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes fadeInOut
{
  0%{
    opacity:0;
  }
  75%
  {
    opacity:1;
  }
  100%
  {
    opacity:0;
  }
}