@import "fonts";
@import "animated";
@import "mixin";
* {
  box-sizing: border-box;
}
.fp-watermark {
  display: none;
}
a {
  text-decoration: none;
}
.sp {
  display: inline-block;
  background-image: url(../images/normal.png);
  background-repeat: no-repeat;
  vertical-align: top;
  overflow: hidden;
  background-size: 484px auto;
}
.fp-section {
  position: absolute;
  top: 0;
  left: 0;
  @include set_size(100%, 100%);
  visibility: hidden;
  transition: all 1s ease-in-out;
  opacity: 0;
  &.active {
    visibility: visible;
    z-index: 1;
    opacity: 1;
  }
}
.section_content {
  @include ab_center;
  z-index: 1;
  width: 100%;
}
.logo_link {
  display: block;
}
.logo_img {
  background-position: -288px 0px;
  @include set_size(196px, 41px);
}
.header {
  @include flex_item_center;
  position: fixed;
  @include set_position(-2px, 0);
  z-index: 10;
  width: 100%;
  padding: 30px 42px 0 48px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  &.is_show {
    visibility: visible;
    opacity: 1;
  }
  &.is_delay {
    transition-delay: 2.2s;
  }
}
.social_list {
  @include flex_item_center;
  margin-left: auto;
  .social_item {
    &:not(:first-child) {
      margin-left: 11px;
    }
  }
  .social_link {
    display: block;
    padding: 6px;
  }
  .ytb_ico {
    @include set_size(24px, 16px);
    background-position: -436px -129px;
    &:hover {
      background-position: -171px -243px;
    }
  }
  .fb_ico {
    @include set_size(14px, 24px);
    background-position: -22px -319px;
    &:hover {
      background-position: -40px -319px;
    }
  }
  .tw_ico {
    @include set_size(27px, 21px);
    background-position: -251px -212px;
    &:hover {
      background-position: -140px -243px;
    }
  }
}
.lang_ico {
  @include set_size(24px, 23px);
  margin-left: 11px;
  background-position: -459px -246px;
  cursor: pointer;
  &:hover {
    background-position: -84px -278px;
  }
}
.section_banner {
  height: 100%;
  .img,
  .video {
    @include size_full;
    object-fit: cover;
  }
}
.section_main {
  .section_banner {
    position: relative;
    &::after {
      @include ab_full;
      @include bg_cover(url(../images/pc_kv_001.png));
      background-position: center;
      content: "";
    }
  }
  .main_content {
    position: absolute;
    top: 36%;
    right: 14%;
    width: 41.14vw;
    text-align: center;
  }
  .main_title {
    width: 38.333vw;
    margin: 0 auto;
    @include img_full;
  }
  .subtitle {
    position: relative;
    width: 100%;
    margin-top: 1.979vw;
    padding-top: 8.98%;
    @include bg_full(url(../images/pc_kv_003.png));
    img {
      @include ab_center;
      width: 24.6vw;
      max-width: 473px;
    }
  }
  .main_desc {
    position: absolute;
    right: 48px;
    bottom: 46px;
    width: 21.3vw;
    min-width: 205px;
    @include img_full;
    img {
      display: block;
    }
  }
}
.world_view_content {
  position: absolute;
  left: 0;
  bottom: 50%;
  z-index: 1;
  width: 100%;
  padding-left: 18.43vw;
  transform: translateY(28.4%);
  .world_subtitle {
    padding-left: 4px;
    font-size: 24px;
    font-weight: 500;
    color: #706b63;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 12px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
  }
  .world_title {
    margin-top: 19px;
    margin-left: -3px;
  }
  .world_desc {
    margin-top: 20px;
    font-family: beaufort-pro;
    font-size: 18px;
    color: #a19c92;
    line-height: 1.31;
    letter-spacing: 0.36px;
    .text {
      display: inline-block;
    }
  }
}
.world_slide_thumbs {
  .swiper-slide {
    opacity: 0 !important;
  }
  .swiper-slide-active {
    opacity: 1 !important;
  }
}
.swiper_button_box {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -71px;
  left: calc(18vw + 30px);
  z-index: 1;
  width: auto;
  margin-left: -17px;
  .button_world_prev,
  .button_world_next {
    top: unset !important;
    @include set_size(36px, 36px);
  }
}
.pagination_world_view {
  .swiper-pagination-bullet {
    position: relative;
    top: unset !important;
    @include set_size(80px, 48px);
    margin: 0 !important;
    padding: 11px;
    border-radius: 0;
    font-size: 0;
    background: transparent;
    opacity: 1;
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 28px;
      height: 1px;
      background-color: rgba(191, 162, 138, 0.3);
      content: "";
    }
    &:first-child {
      &::before {
        display: none;
      }
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    .ico_pagination {
      @include set_size(25px, 25px);
      background-position: -451px -215px;
    }
  }
  .swiper-pagination-bullet-active {
    .ico_pagination {
      @include set_size(26px, 25px);
      background-position: -421px -215px;
    }
  }
}
.prev_ico {
  @include set_size(36px, 29px);
  background-position: -232px -140px;
}
.next_ico {
  @include set_size(36px, 29px);
  background-position: -100px -243px;
}
.world_view_content {
  .button_slide_prev,
  .button_slide_next {
    position: relative;
    top: -10px;
    cursor: pointer;
  }
}
.story_title {
  font-size: 81px;
  font-weight: 400;
  text-transform: uppercase;
  color: #bfa673;
  line-height: 1;
  text-align: center;
  opacity: 0;
}

.story_sub_title {
  margin-top: 3px;
  font-size: 20px;
  text-transform: uppercase;
  color: #938d83;
  line-height: 1.1;
  text-align: center;
  opacity: 0;
}
.story_slide {
  margin-top: 80px;
  .swiper-wrapper {
    justify-content: center;
  }
  .swiper-slide {
    width: auto;
    opacity: 0;
  }
}
.game_item {
  display: block;
  position: relative;
  width: 332px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .btn_view {
      .ico_rotate {
        background-position: -116px -63px;
        &::after {
          background-image: url(../images/ico_plus_on.png);
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
    .game_img {
      img {
        transform: scale(1.05);
        filter: none;
      }
    }
    .game_name {
      color: #d7c6a2;
    }
    .is_default {
      display: none;
    }
    &.is_active {
      display: block;
    }
  }
  &::before {
    @include ab_full;
    z-index: 1;
    border: 2px solid rgba(191, 162, 138, 0.3);
    box-sizing: border-box;
    pointer-events: none;
    content: "";
  }
  .game_img {
    @include c-img(171%);
    img {
      filter: grayscale(1);
    }
  }
  &.story_coming {
    pointer-events: none;
    &::before {
      border: 2px solid transparent;
    }
  }

  .game_name {
    position: absolute;
    width: 100%;
    bottom: 39px;
    left: 0;
    padding: 0 16px;
    font-size: 24px;
    color: #7d7154;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
  }
}
.btn_view {
  @include ab_center;
  .ico_rotate {
    position: relative;
    @include set_size(112px, 112px);
    background-position: 0px -63px;
    &::after {
      @include ab_center;
      @include set_size(50px, 50px);
      @include bg_full(url(../images/ico_plus.png));
      transition: 0.3s;
      content: "";
    }
  }
}
.combat_title {
  text-align: center;
  .img {
    max-width: 407px;
    margin: 0 auto;
  }
}
.combat_subtitle {
  margin-top: -25px;
  font-size: 1.04167vw;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0px 1px 2px #000;
  color: #938d83;
  text-transform: uppercase;
}
.combat_slide_thumbs {
  width: 54.0625vw;
  margin: 40px auto 0;
  .swiper-slide-thumb-active {
    .game_item {
      .img {
        transform: scale(1.05);
        filter: none;
      }
      .btn_view .ico_rotate {
        background-position: -116px -63px;
        &::after {
          background-image: url(../images/ico_plus_on.png);
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
      .is_default {
        display: none;
      }
      .is_active {
        display: block;
      }
    }
  }
  .game_item {
    width: 100%;
  }
}
.combat_slide_banner {
  .img {
    transform: scale(1.05);
    transition:
      transform 0.5s ease-in-out,
      -webkit-transform 0.5s ease-in-out;
  }
}
.combat_item_title {
  position: absolute;
  bottom: 37px;
  left: 0;
  width: 100%;
  .img {
    width: 100%;
  }
  &.is_active {
    display: none;
  }
}
.media_slide_banner {
  .btn_view {
    cursor: pointer;
    transform: translate(-50%, calc(-50% - 47px)) !important;
    &:hover {
      .ico_rotate {
        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
    @include ab_center;
    .ico_rotate {
      background-position: -116px -63px;
      &::after {
        background-image: url(../images/ico_plus_on.png);
      }
    }
  }
  .swiper-slide {
    &::before {
      display: block;
      @include ab_full;
      @include size_full;
      @include bg_cover(url(../images/media_background.png));
      pointer-events: none;
      content: "";
    }
  }
}
.media_head {
  position: absolute;
  top: 80px;
  left: 50%;
  z-index: 2;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
}
.media_subtitle {
  margin-top: -28px;
  font-size: 20px;
  text-shadow: 0px 1px 2px #000;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: #938d83;
  text-transform: uppercase;
}
.media_slide_box {
  position: absolute;
  bottom: 130px;
  z-index: 1;
  left: 50%;
  width: 100%;
  max-width: 1058px;
  transform: translateX(-50%);
  .button_slide_prev,
  .button_slide_next {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 2px 0;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .button_slide_prev {
    left: -5%;
  }
  .button_slide_next {
    right: -5%;
  }
}
.media_slide_thumbs {
  .swiper-slide {
    &::before {
      @include ab_full;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      content: "";
    }
  }
  .swiper-slide-thumb-active {
    border: 1px solid #d1c3a3;
    &::before {
      display: none;
    }
  }
}
.media_item {
  @include c-img(48%);
  border: 1px solid #616260;
  cursor: pointer;
}
.footer_inner {
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}
.footer {
  padding: 104px 0;
  background-color: #000;
  color: rgba(191, 166, 115, 0.75);
  font-family: beaufort-pro;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.7px;
  .footer_text {
    margin-top: 10px;
    font-size: 11.5px;
    font-weight: 400;
    letter-spacing: 0.58px;
    color: rgba(112, 107, 99, 0.75);
  }
}
.footer_logo_ico {
  @include set_size(109px, 29px);
  background-position: -165px -179px;
}
.footer_bottom {
  margin-top: 32px;
  padding-top: 34px;
  border-top: 1px solid rgba(112, 107, 99, 0.2);
  .contact_list {
    .contact_item {
      &:not(:last-child) {
        display: inline-block;
        margin-left: 10px;
      }
      &:first-child {
        margin-left: 0;
      }
      .fax {
        margin-left: 7px;
      }
    }
  }
}
.section_media,
.footer {
  position: relative;
}
.section_media {
  &.is_visible {
    visibility: visible;
    opacity: 1;
  }
}
.control_page {
  position: absolute;
  top: 50%;
  left: 2.968vw;
  z-index: 2;
  @include set_size(56px, 207px);
  @include bg_full(url(../images/indicator.png));
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  &.is_show {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
  }
  .control_button {
    position: absolute;
    width: 100%;
    height: 46px;
    cursor: pointer;
  }
  .control_prev {
    top: -23px;
  }
  .control_next {
    bottom: -23px;
  }
}
.name_list {
  position: absolute;
  top: 50%;
  left: calc(100% + 11px);
  z-index: 1;
  transform: translateY(-50%);
  .name_item {
    position: absolute;
    @include set_position(-15px, 0);
    display: block;
    visibility: hidden;
    opacity: 0;
    font-size: 15.5px;
    color: #ceb98e;
    transition: 0.3s;
    line-height: 2.32;
    text-transform: uppercase;
    letter-spacing: 1.55px;
    white-space: nowrap;
    &.is_show {
      visibility: visible;
      opacity: 1;
    }
  }
}
.section_story {
  .section_banner {
    position: relative;
    &::after {
      @include ab_full;
      background: rgba(0, 0, 0, 0.8);
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      content: "";
    }
  }
  .img_effect {
    @include ab_full;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
  }
}
.map_deco {
  @include ab_full;
  z-index: 3;
  pointer-events: none;
  .cloud {
    position: absolute;
    opacity: 0;
    &:nth-child(1) {
      left: 0;
      bottom: 0;
      min-width: 55.15%;
      min-height: 36.94%;
    }
    &:nth-child(2) {
      top: 0;
      left: 0;
      min-width: 69.58%;
      min-height: 100%;
    }
    &:nth-child(3) {
      top: 0;
      left: 0;
      min-width: 83.54%;
      min-height: 100%;
    }
    &:nth-child(4) {
      left: 0;
      bottom: 0;
      min-width: 67.76%;
      min-height: 63.79%;
    }
    &:nth-child(5) {
      left: 0;
      bottom: 0;
      min-width: 40.67%;
      min-height: 51.51%;
    }
    &:nth-child(6) {
      top: 0;
      left: 0;
      min-width: 52.18%;
      min-height: 100%;
    }
    &:nth-child(7) {
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
    }
    &:nth-child(8) {
      top: 0;
      right: 0;
      min-width: 94.63%;
      min-height: 100%;
    }
    &:nth-child(9) {
      right: 0;
      bottom: 0;
      min-width: 48.95%;
      min-height: 67.77%;
    }
    &:nth-child(10) {
      top: 0;
      right: 0;
      min-width: 46.45%;
      min-height: 100%;
    }
  }
}
.house_content {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  padding-left: 18.59375vw;
  transform: translateY(-96%);
  .house_subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 12px;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
    color: #706b63;
  }
  .house_title {
    margin-top: 19px;
    margin-left: -3px;
  }
  .btn_story {
    margin-top: 19px;
    cursor: pointer;
    .ico_read_story {
      @include set_size(186px, 28px);
      background-position: -288px -45px;
    }
  }
}
.house_slide_thumbs {
  .swiper-slide {
    opacity: 0 !important;
  }
  .swiper-slide-active {
    opacity: 1 !important;
    z-index: 1;
  }
}
.house_slide_banner {
  .img_character {
    position: absolute;
    bottom: 0;
    left: 42.1%;
    height: 92.5vh;
    opacity: 0;
  }
}
.pagination_house {
  @include flex_item_center;
  position: absolute;
  bottom: -118px !important;
  left: 18.59375vw !important;
  height: 76px;
  .swiper-pagination-bullet {
    margin-right: 0 !important;
    width: auto;
    height: auto;
    background: transparent;
    border-radius: 0;
    opacity: 1;
    font-size: 0;
    &:not(:first-child) {
      position: relative;
      margin-left: 32px;
      &::before {
        position: absolute;
        top: 50%;
        left: -32px;
        transform: translateY(-50%);
        width: 32px;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
        content: "";
      }
    }
    &:first-child {
      margin-left: 0;
    }
    span {
      display: inline-block;
      width: 54px;
      height: 54px;
      background-size: 100% 100%;
      background-position: 0;
      transition: 0.3s;
    }
    .ico_grendal {
      background-image: url(../images/ico_grendal.png);
    }
    .ico_guntfell {
      background-image: url(../images/ico_guntfell.png);
    }
    .ico_erhard {
      background-image: url(../images/ico_erhard.png);
    }
    .ico_collin {
      background-image: url(../images/ico_collin.png);
    }
    .ico_aindal {
      background-image: url(../images/ico_aindal.png);
    }
    .ico_aerius {
      background-image: url(../images/ico_aerius.png);
    }
  }
  .swiper-pagination-bullet-active {
    span {
      width: 76px;
      height: 76px;
    }
    .ico_grendal {
      background-image: url(../images/ico_grendal_active.png);
    }
    .ico_guntfell {
      background-image: url(../images/ico_guntfell_active.png);
    }
    .ico_erhard {
      background-image: url(../images/ico_erhard_active.png);
    }
    .ico_collin {
      background-image: url(../images/ico_collin_active.png);
    }
    .ico_aindal {
      background-image: url(../images/ico_aindal_active.png);
    }
    .ico_aerius {
      background-image: url(../images/ico_aerius_active.png);
    }
  }
}
.swiper {
  overflow: unset;
}
.section_house {
  .btn_back {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    padding: 10px;
    font-size: 0;
    .ico_back {
      display: inline-block;
      background-position: -232px -106px;
      @include set_size(43px, 30px);
    }
  }
}
.house_popup {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  width: 0;
  height: 100%;
  transition: all 0.8s ease-out;
  &.is_show {
    visibility: visible;
    right: initial;
    left: 0;
    width: 100%;
  }
}
.house_popup_item {
  visibility: hidden;
  @include ab_full;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease-out;
  &.is_show {
    visibility: visible;
    .house_popup_head {
      animation: fadeIn 1s 0.6s ease-in both;
    }
    .house_popup_box {
      .text {
        animation: fadeInUp 1s var(--delay) ease-out forwards;
      }
    }
    .house_popup_content {
      &::before {
        animation: fadeIn 1s 0.6s ease-in both;
      }
    }
  }
}
.house_popup_content {
  position: absolute;
  top: 50%;
  right: 18.75vw;
  transform: translateY(-50%);
  max-width: 651px;
  text-align: center;
  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    opacity: 0;
    transform: translate(-50%, -42%);
    @include set_size(266px, 376px);
    @include bg_full(url(../images/ico_content_grendal.png));
    pointer-events: none;
    transition: 1.2s ease 0.2s;
    content: "";
  }
  .house_popup_head {
    opacity: 0;
    .house_popup_title {
      font-size: 62px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      text-shadow: 0px 1px 2px #000;
      color: #bfa673;
    }
    .house_popup_subtitle {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.22;
      text-transform: uppercase;
      text-shadow: 0px 1px 2px #000;
      color: #938d83;
      white-space: nowrap;
    }
  }
  .house_popup_box {
    margin-top: 46px;
    min-height: 266px;
    .text {
      overflow: hidden;
      font-family: beaufort-pro;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.36px;
      text-shadow: 0px 1px 2px #000;
      color: #a19c92;
      opacity: 0;
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}
.btn_close_popup {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
  padding: 10px;
  font-size: 0;
  cursor: pointer;
  .ico_btn_close {
    background-position: -232px -63px;
    @include set_size(39px, 39px);
  }
}
.combat_popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  @include size_full;
  transform: scale(0);
  &.is_show {
    animation: scaleIn 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
}
.combat_popup_item {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
  @include ab_full;
  &.is_show {
    visibility: visible;
    opacity: 1;
    .combat_popup_title {
      .text {
        animation: fadeInUp 1.2s 0.5s both;
      }
    }
    .combat_popup_content {
      .text {
        animation: fadeInUp 1.2s var(--delay) both;
      }
    }
  }
  .box_video {
    position: relative;
    height: 100%;
    &::before {
      @include ab_full;
      @include bg_full(url(../images/pc_combat_004.png));
      background-position: center;
      content: "";
    }
  }
  .video {
    @include size_full;
    object-fit: cover;
  }
  .combat_popup_title {
    position: absolute;
    top: 14.35185vh;
    left: 50%;
    width: 100%;
    font-size: 3.28125vw;
    font-weight: 400;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 1px 2px #000;
    color: #bfa673;
    transform: translateX(-50%);
    .text {
      display: inline-block;
      opacity: 0;
    }
  }
  .combat_popup_content {
    position: absolute;
    bottom: 16.944vh;
    left: 50%;
    width: 100%;
    height: 19.074vh;
    font-family: beaufort-pro;
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.36px;
    text-align: center;
    text-shadow: 0px 1px 2px #000;
    color: #a19c92;
    transform: translateX(-50%);
    .text {
      opacity: 0;
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
  }
}

.media_popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  @include size_full;
  z-index: 4;
  padding: 0 106px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.2s;
  pointer-events: none;
  &.is_show {
    visibility: visible;
    opacity: 1;
    background: #000;
    pointer-events: all;
  }
}
.slide_media_popup {
  height: 100%;
  overflow: hidden;
  .img {
    @include size_full;
  }
}
.lang_list_mo {
  display: none;
}
.only_devices {
  display: none;
}
.under_tablet {
  display: none;
}
.only_tablet {
  display: none;
}
.media_title {
  .img {
    margin: 0 auto;
  }
}
.intro_content{
  @include ab_center;
  z-index: 2;
}
.intro_title{
  width: 38.333vw;
  max-width: 878px;
  opacity: 0;
  .img{
    width: 100%;
  }
}
.btn_skip{
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  z-index: 2;
  cursor: pointer;
  .ico_skip{
    background-position: -288px -246px;
    @include set_size(82px,28px);
  }
}
.section_intro{
  .section_banner{
    &::before{
      @include ab_full;
      @include bg_cover(url(../images/pc_intro_001.png));
      z-index: 1;
      content: "";
    }
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .only_tablet {
    display: block;
  }
}
@media (min-width: 721px) {
  .only_mo {
    display: none;
  }
}
@media (min-width: 1025px) {
  .media_slide_thumbs{
    overflow: hidden;
  }
  .menu {
    margin-left: 48px;
  }
  .menu_list {
    .menu_item {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 15px;
      }
      .menu_link {
        display: block;
        padding: 8px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
        text-transform: uppercase;
        color: #909090;
        &.active {
          color: #ceb98e;
        }
      }
    }
  }
  .pc_hidden {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer_inner {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .footer_inner {
    max-width: 1430px;
  }
  .menu_list {
    .menu_item {
      &:not(:first-child) {
        margin-left: 42px;
      }
      .menu_link {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 1366px) {
  .world_view_content {
    padding-left: 22vw;
  }

  .swiper_button_box {
    left: 22vw;
    margin-left: 0;
  }
  .story_title {
    font-size: 62px;
  }
  .story_sub_title {
    font-size: 16px;
  }
  .story_slide {
    margin-top: 66px;
  }
  .game_item {
    width: 206px;
    .game_name {
      font-size: 15px;
      bottom: 24px;
    }
  }
}
@media (max-width: 1024px) {
  .only_devices {
    display: block;
  }
  .only_pc {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    @include size_full;
    max-width: 403px;
    padding: 46px 62px 40px 63px;
    background: #000;
    transition: 0.5s;
    &.is_open {
      left: 0;
      transition-delay: 0s;
    }
    &.is_delay {
      transition-delay: 0s;
    }
  }
  .logo_img {
    background-position: 0px 0px;
    @include set_size(284px, 59px);
  }
  .menu {
    width: 100%;
    margin-top: 19px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .menu_list {
    .menu_item {
      &:not(:first-child) {
        margin-top: 17px;
      }
      .menu_link {
        display: block;
        padding: 8px 0;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.1;
        color: rgba(133, 133, 133, 0.7);
        text-transform: uppercase;
        transition: 0.2s;
        &.active {
          color: #ceb98e;
        }
      }
    }
  }
  .social_list {
    margin-top: auto;
    margin-left: 0;
  }
  .social_list .ytb_ico {
    background-position: -171px -243px;
  }
  .social_list .fb_ico {
    background-position: -40px -319px;
  }
  .social_list .tw_ico {
    background-position: -140px -243px;
  }
  .lang_list_mo {
    display: flex;
    align-items: center;
    margin-top: 22px;
    padding: 13px 0;
    .lang_item {
      &:not(:first-child) {
        margin-left: 14px;
      }
    }
    .lang_link {
      display: block;
      position: relative;
      padding: 6px 0 6px 22px;
      font-size: 22px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.35);
      text-transform: uppercase;
      letter-spacing: 0.48px;
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        background: rgba(133, 133, 133, 0.7);
        transform: translateY(-50%) rotate(45deg);
        @include set_size(6px, 6px);
        content: "";
      }
      &.is_active {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .btn_close_menu {
    position: absolute;
    top: 49px;
    left: calc(100% + 19px);
    .ico_close {
      @include set_size(39px, 39px);
      background-position: -232px -63px;
    }
  }
  .over-lay {
    visibility: hidden;
    position: fixed;
    @include set_position(0, 0);
    z-index: 5;
    opacity: 0;
    @include size_full;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
    pointer-events: none;
    &.is_open {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
  .js_toggle_menu {
    position: fixed;
    top: 33px;
    left: 52px;
    z-index: 2;
    padding: 15px 0;
    .ico_bars {
      background-position: -431px -183px;
      @include set_size(46px, 23px);
    }
    &.is_hidden {
      display: none;
    }
  }
  .section_main {
    .main_desc {
      right: 50%;
      bottom: 49px;
      width: 36.3vw;
      transform: translateX(50%);
    }
  }
  .world_view_content {
    left: 0;
    bottom: 100px;
    transform: translate(0);
    padding-left: 0;
    text-align: center;
    .world_title {
      margin-left: 0;
      img {
        margin: 0 auto;
      }
    }
  }
  .swiper_button_box {
    bottom: -63px;
    left: 50%;
    transform: translateX(-50%);
  }
  .pagination_world_view {
    .swiper-pagination-bullet {
      @include set_size(57px, 40px);
      .ico_pagination {
        @include set_size(19px, 18px);
        background-position: -464px -152px;
      }
      &::before,
      &::after {
        width: 20px;
      }
    }
    .swiper-pagination-bullet-active {
      .ico_pagination {
        background-position: -112px -278px;
      }
    }
  }
  .button_slide_prev {
    .sp {
      @include set_size(25px, 22px);
      background-size: 67px 40px;
      background-image: url(../images/retina@2x.png);
      background-position: 4px 0px;
    }
  }
  .button_slide_next {
    .sp {
      @include set_size(25px, 22px);
      background-size: 67px 40px;
      background-image: url(../images/retina@2x.png);
      background-position: -33px 0px;
    }
  }
  .combat_slide_thumbs {
    .swiper-slide-thumb-active,
    .swiper-slide {
      .game_item {
        .btn_view {
          .ico_rotate {
            @include set_size(70px, 70px);
            background-position: -362px -77px;
            &::after {
              @include set_size(32px, 32px);
              @include bg_full(url(../images/ico_plus_ta.png));
            }
          }
        }
      }
    }
  }
  .combat_popup_bg {
    height: 100%;
    .img {
      width: 100%;
      height: 100%;
    }
  }
  .media_subtitle {
    font-size: 16px;
  }
  .section_media {
    .btn_view .ico_rotate {
      background-position: -362px -77px;
      width: 70px;
      height: 70px;
      &::after {
        @include set_size(32px, 32px);
        @include bg_full(url(../images/ico_plus_ta.png));
      }
    }
  }
  .media_slide_box {
    bottom: 10.9375vw;
    left: 50%;
    transform: translateX(-50%);
    width: 77.539vw;
  }
  .pagination_media {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    .swiper-scrollbar-drag {
      height: 3px;
      border-radius: 0;
      background: #bfa673;
      opacity: 0.6;
    }
  }
  .slide_media_popup {
    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 105px;
      background: rgba(0, 0, 0, 0.9);
      z-index: 2;
      pointer-events: none;
      content: "";
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  .media_popup {
    padding: 0;
  }
  .house_content {
    .house_subtitle {
      font-size: 21.5px;
      letter-spacing: 0.5em;
    }
    .btn_story {
      .ico_read_story {
        @include set_size(172px, 27px);
        background-position: -288px -152px;
      }
    }
  }
  .pagination_house .swiper-pagination-bullet span {
    @include set_size(44px, 44px);
  }
  .pagination_house .swiper-pagination-bullet-active span {
    @include set_size(61px, 61px);
  }
  .house_content {
    padding-left: 23.14%;
  }
  .pagination_house {
    bottom: -95px !important;
    left: 23.14vw !important;
  }
  .house_slide_banner .img_character {
    left: 38.6%;
    height: 100vh;
  }
  .house_popup_content {
    .house_popup_head {
      .house_popup_title{
        font-size: 52px;
      }
      .house_popup_subtitle{
        margin-top: 10px;
        font-size: 16px;
      }
    }
    .house_popup_box{
      margin-top: 32px;
      .text{
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: 0.32px;
      }
    }
  }
}

@media (max-width: 720px) {
  .above_tablet {
    display: none !important;
  }
  .under_tablet {
    display: block;
  }
  .header {
    max-width: 100%;
    padding: 55px 17px 30px;
  }
  .btn_close_menu {
    top: 17px;
    right: 16px;
    left: unset;
    padding: 8px;
    .ico_close {
      width: 26.5px;
      height: 27px;
      @include set_size(26.5px, 27px);
      background-image: url(../images/ico_close_mo.png);
      background-size: 100% 100%;
      background-position: 0;
    }
  }
  .logo_link {
    .logo_img {
      width: 179.5px;
      height: 37px;
      @include bg_full(url(../images/logo_ta.png));
      background-position: 0;
    }
  }
  .menu {
    margin-top: 13px;
    padding-bottom: 42px;
  }
  .menu_list {
    .menu_item {
      &:not(:first-child) {
        margin-top: 6px;
      }
      .menu_link {
        font-size: 20px;
      }
    }
  }
  .lang_list_mo {
    .lang_link {
      padding-left: 9px;
      font-size: 15px;
      &::before {
        @include set_size(3px, 3px);
      }
    }
    .lang_item {
      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
  .sp_mo {
    display: inline-block;
    background-image: url(../images/retina@2x.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 67px auto;
  }
  .social_list {
    .ytb_ico {
      @include set_size(16px, 11px);
      background-position: -22px -26px;
    }
    .fb_ico {
      @include set_size(9px, 16px);
      background-position: -58px 0px;
    }
    .tw_ico {
      @include set_size(18px, 14px);
      background-position: 0px -26px;
    }
    .social_item {
      &:not(:last-child) {
        margin-left: 0;
      }
    }
  }
  .js_toggle_menu {
    top: 17px;
    left: 16px;
    padding: 8px;
    .ico_bars {
      @include set_size(28px, 22px);
      @include bg_full(url(../images/ico_navi.png));
      background-position: 0;
    }
  }
  .section_main {
    .section_banner {
      &::after {
        background-image: url(../images/mo_kv_001.png);
      }
    }
    .main_content {
      top: unset;
      right: 50%;
      bottom: 141px;
      width: 347px;
      transform: translateX(50%);
    }
    .main_title {
      width: 270px;
    }
    .subtitle {
      margin-top: 12px;
      padding-top: 9.1%;
    }
    .main_desc {
      bottom: 23px;
    }
  }
  .control_page {
    display: none;
  }
  .world_view_content {
    .world_subtitle {
      font-size: 3.33vw;
    }
    .world_title {
      margin-top: 1.94vw;
      img {
        width: 53.47vw;
      }
    }
    .world_desc {
      margin-top: 1.66vw;
      font-size: 3.33vw;
      letter-spacing: normal;
    }
  }
  .swiper_button_box {
    bottom: -43px;
    width: fit-content;
  }
  .story_title {
    font-size: 10.83vw;
  }
  .story_sub_title {
    margin-top: 0;
    font-size: 2.77vw;
  }
  .story_slide {
    max-width: 78.88vw;
    margin: 10vw auto 0;
    overflow: hidden;
    .swiper-wrapper {
      justify-content: flex-start;
    }
  }
  .game_item {
    width: 100%;
    .game_img {
      padding-top: 135%;
    }
  }
  .swiper_button_area {
    position: relative;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  .pagination_swiper {
    text-align: center;
    .swiper-pagination-bullet {
      position: relative;
      @include set_size(36px, 40px);
      margin: 0;
      padding: 11px;
      background: transparent;
      opacity: 1;
      border-radius: 0;
      &:not(:first-child) {
        &::before {
          position: absolute;
          top: 46%;
          left: -22px;
          transform: translateY(-50%);
          width: 33px;
          height: 1px;
          background-color: rgba(191, 162, 138, 0.3);
          content: "";
        }
      }
      .ico_pagination {
        @include set_size(12px, 12px);
        background-position: -464px -129px;
      }
    }
    .swiper-pagination-bullet-active {
      .ico_pagination {
        @include set_size(11px, 11px);
        background-position: -473px -77px;
      }
    }
  }
  .button_slide_prev,
  .button_slide_next {
    @include flex_item_center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    @include set_size(44px, 44px);
  }
  .button_slide_prev {
    left: calc(50% - 163px);
  }
  .button_slide_next {
    right: calc(50% - 163px);
  }
  .btn_view .ico_rotate {
    width: 18.47vw;
    height: 18.61vw;
    @include bg_full(url(../images/ico_rotate_mo.png));
    background-position: 0;
    &::after {
      width: 8.19vw;
      height: 8.19vw;
      @include bg_full(url(../images/ico_plus_mo.png));
      background-position: 0;
    }
  }
  .combat_slide_thumbs {
    width: 78.888vw;
    overflow: hidden;
    .swiper_button_area {
      margin-top: 50px;
    }
  }
  .combat_slide_thumbs .swiper-slide-thumb-active .game_item .btn_view .ico_rotate,
  .combat_slide_thumbs .swiper-slide .game_item .btn_view .ico_rotate {
    width: 18.47vw;
    height: 18.61vw;
    @include bg_full(url(../images/ico_rotate_mo.png));
    background-position: 0;
    &::after {
      @include set_size(8.19vw, 8.19vw);
      @include bg_full(url(../images/ico_plus_mo.png));
    }
  }
  .combat_subtitle {
    font-size: 2.777vw;
    margin-top: 1.666vw;
    letter-spacing: normal;
  }
  .combat_title {
    font-size: 10.833vw;
    line-height: 0.72;
    letter-spacing: -0.78px;
    font-weight: 400;
    text-transform: uppercase;
    color: #bfa673;
  }
  .combat_popup_item {
    .combat_popup_title {
      top: initial;
      bottom: 42.421vh;
      font-size: 6.9444vw;
      line-height: 1.04;
    }
    .combat_popup_content {
      bottom: 8.203vh;
      min-height: 31.875vh;
      font-size: 3.333vw;
      line-height: 1.25;
      letter-spacing: 0.066vw;
    }
  }
  .media_slide_box {
    .button_slide_prev,
    .button_slide_next {
      display: none;
    }
  }
  .media_title {
    img {
      width: 43.6111vw;
    }
  }
  .media_subtitle {
    margin-top: -3.8888vw;
    font-size: 2.7777vw;
  }
  .section_media .btn_view .ico_rotate {
    background-position: 0;
  }
  .pagination_media {
    height: 1px;
    margin-top: 15px;
    .swiper-scrollbar-drag {
      height: 1px;
    }
  }
  .slide_media_popup::before,
  .slide_media_popup::after {
    display: none;
  }
  .slide_media_popup {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }
  .media_popup.is_show {
    background: rgba(0, 0, 0, 0.8);
  }
  .btn_close_popup {
    top: 15px;
    right: 14px;
    .ico_btn_close {
      @include set_size(26.5px, 27px);
      @include bg_full(url(../images/ico_close_mo.png));
      background-position: 0;
    }
  }
  .footer {
    padding: 9.166vw 0;
  }
  .footer_bottom {
    margin-top: 6.666vw;
    padding-top: 6.666vw;
  }
  .footer_bottom .contact_list .contact_item:not(:last-child) {
    margin-left: 0;
  }
  .footer_logo_ico {
    @include set_size(82px, 22px);
    background-position: -165px -212px;
  }
  .pagination_world_view {
    .swiper-pagination-bullet {
      width: 36px;
      .ico_pagination {
        @include set_size(12px, 12px);
        background-position: -464px -129px;
      }
      &::before,
      &::after {
        width: 13px;
      }
    }
    .swiper-pagination-bullet-active {
      .ico_pagination {
        @include set_size(11px, 11px);
        background-position: -473px -77px;
      }
    }
  }
  .swiper_button_box .button_world_prev,
  .swiper_button_box .button_world_next {
    position: absolute;
    top: 50% !important;
  }
  .house_slide_banner .img_character {
    bottom: 9.92%;
    left: 7.36%;
    height: 76.48%;
  }
  .pagination_house {
    display: none;
  }
  .house_content {
    top: initial;
    bottom: 4.86vw;
    padding-bottom: 26.25vw;
    padding-left: 27px;
    transform: translateY(0);
    .house_subtitle{
      font-size: 3.33vw;
    }
    .house_title{
      margin-top: 8px;
      .img{
        height: 8.47vw;
      }
    }
    .btn_story{
      .ico_read_story{
        @include set_size(35.27vw,3.88vw);
        @include bg_full(url(../images/ico_read_story_mo.png));
        background-position: 0;
      }
    }
    
  }
  .pagination_box{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 219px;
    transform: translateX(-50%);
  
    .swiper{
     overflow: hidden;
    }
    .swiper-slide{
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      font-size: 0;
      transform: translate3d(0, 0, 0);
    }
    .ico_pagination{
      display: block;
      position: relative;
      width: 41.5px;
      height: 41.5px;
      background-size: 100% 100%;
      background-position: 0;
      transition: .5s;
      &::before{
        display: none;
        position: absolute;
        top: 50%;
        right: 100%;
        width: 23px;
        height: 1px;
        background: #fff;
        transform: translateY(-50%);
        opacity: .2;
        content: "";
      }
    }
    .ico_grendal{
      background-image: url(../images/ico_grendal.png);
    }
    .ico_guntfell{
      background-image: url(../images/ico_guntfell.png);
    }
    .ico_erhard{
      background-image: url(../images/ico_erhard.png);
    }
    .ico_collin{
      background-image: url(../images/ico_collin.png);
    }
    .ico_aindal{
      background-image: url(../images/ico_aindal.png);
    }
    .ico_aerius{
      background-image: url(../images/ico_aerius.png);
    }
    .swiper-slide-active{
      .ico_pagination{
        @include set_size(60px,59.5px);
        &::before{
          display: block;
        }
      }
      & + .swiper-slide{
        .ico_pagination{
          &::before{
            display: block;
          }
        }
      }
      .ico_grendal{
        background-image: url(../images/ico_grendal_active.png);
      }
      .ico_guntfell{
        background-image: url(../images/ico_guntfell_active.png);
      }
      .ico_erhard{
        background-image: url(../images/ico_erhard_active.png);
      }
      .ico_collin{
        background-image: url(../images/ico_collin_active.png);
      }
      .ico_aindal{
        background-image: url(../images/ico_aindal_active.png);
      }
      .ico_aerius{
        background-image: url(../images/ico_aerius_active.png);
      }
    }
  }
  .game_item:hover .btn_view .ico_rotate{
    background-position: 0;
  }
  .button_pagination_prev{
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    z-index: 1;
    width: 44px;
    height: 44px;
    .ico_prev{
      @include set_size(25px,22px);
      background-position: 0px 0px;
    }
  }
  .button_pagination_next{
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    z-index: 1;
    width: 44px;
    height: 44px;
    .ico_next{
      @include set_size(25px,22px);
      background-position: -29px 0px;
    }
  }
  .house_popup_content::before{
    left: 0;
    width: 120px;
    height: 170px;
  }
  .house_popup_content{
    top: initial;
    right: inherit;
    bottom: 13.61vw;
    left: initial;
    padding-right: 7.63vw;
    padding-left: 7.63vw;
    transform: translate(0);
    text-align: left;
    .house_popup_head{
      .house_popup_title{
        font-size: 10.55vw;
      }
      .house_popup_subtitle{
        margin-top: 1.11vw;
        font-size: 3.33vw;
      }
    }
    .house_popup_box{
      .text{
        font-size: 3.33vw;
        line-height: 1.25;
      }
    }
  }
  .house_popup_item#grendal{
    background-image: url(../images/mo_house_007.jpg) !important;
  }
  .house_popup_item#guntfell{
    background-image: url(../images/mo_house_008.jpg) !important;
  }
  .house_popup_item#erhard{
    background-image: url(../images/mo_house_009.jpg) !important;
  }
  .house_popup_item#collin{
    background-image: url(../images/mo_house_010.jpg) !important;
  }
  .house_popup_item#aindal{
    background-image: url(../images/mo_house_011.jpg) !important;
  }
  .house_popup_item#aerius{
    background-image: url(../images/mo_house_012.jpg) !important;
  }
  .section_house .btn_back{
    top: 15px;
    left: 15px;
    .ico_back{
      @include set_size(35px,24.5px);
      @include bg_full(url(../images/ico_back.png));
      background-position: 0;
    }
  }
}
